{% extends 'basic.html' %}
{% block title %}
    Category - Update
{% endblock %}
{% block update %}
<div class="container mt-5 mb-5">
    <h1>Update Category</h1>
    <div class="row">
        <div class="col-6">
            <div class="card p-3 w-75">
                <form id="update-category-form" method="post" novalidate>
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <span id="cname-error" style="color: red; display: none;">Please enter a valid name.</span>
                    </br>
                    <input type="submit" value="Update Product" class="form-control btn btn-warning">
                </form>
                &nbsp;
                <button onclick="history.back()" class="btn btn-danger form-control">Back</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('update-category-form').addEventListener('submit', function(event) {
        var cname = document.getElementById('id_cname').value;
        if (cname.trim() === '') {
            event.preventDefault();
            document.getElementById('cname-error').style.display = 'block';
        }
    });
</script>
{% endblock %}
